{% extends "index.html" %}

{% block content %}
  <h1>Demos</h1>
  <p>A proof-of-concept micro API, implemented with Python, Flask, and the Google Earth Engine for easily retrieving land cover information with a 'cookie-cutter', i.e. a spatially explicit geometry.</p>
  <p>Our idea is to try a different approach towards making knowledge product that is powerful, useful but at the same time, scalable, less need for maintenance and can be re-purposed, built-upon and further integrated into other products. More specifically, this would allow:1) easy engineering of products 2) shifts towards a valued added model, compared to the traditional data reselling model.</p> 
  <ol>
      <li><a title='protected areas land cover' href='{{ url_for("get_pa_list") }}'>Land cover for all protected areas</a>:  ft. Protected Planet API</li>
      <li><a title='arbitary geometry upload' href=''>Land cover of an uploaded geometry </a>(under construction)</li>
      <li><a title='land cover guess game' href=''>Land cover guessing game </a>(under construction)</li>
      <li><a title='land cover image of arbitary geometry upload' href=''>Land cover image of an uploaded geometry </a>(under construction)</li>
  </ol>
{% endblock %}
