{% extends "bootstrap/base.html" %}
{% block title %}Start guessing game{% endblock %}
<meta charset="utf-8"/>
{% block head %}
{{super()}}

{% endblock %}

{% block navbar %}
<div class="navbar">
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <h1>Guessing land cover in the UK</h1>
  <p>Type in your name and see how you compare to others when you finish the game</p>
  <form method='POST' action="">
    {{ form.name.label }} {{form.name(size=30)}}
    <input type="submit" value="start">
    </form>
</div>
{% endblock %}

{% block html_attribs %} lang="en"{% endblock %}

