{% extends "bootstrap/base.html" %}
{% block title %}Land cover micro API{% endblock %}
<meta charset="utf-8"/>
{% block head %}
{{super()}}
{% endblock %}


{% block navbar %}
<div class="navbar">
</div>
{% endblock %}



{% block content %}

<div class="container">
  <h1>Welcome to Land cover micro API</h1>
  <p>powered by Google Earth Engine</p>
  <ul>
    <li><a title='api page' href='{{ url_for("api_doc") }}'>API page</a></li>
    <li><a title='demo page' href=' {{ url_for("demo_index")}}'>demo</a></li>
  </ul>
</div>

{% endblock %}



{% block html_attribs %} lang="en"{% endblock %}

