{% extends "index.html" %}

{% block content %}
<div class='container'>
<h2>Protected areas list</h2>

{% if last_page %}
<a title='last page' href="{{ url_for('get_pa_list', page=last_page)}}">last page</a>
{% endif %}
<a title='next page' href="{{ url_for('get_pa_list', page=next_page)}}">next page</a>

<ul>
  {% for pa in pas %}
  <li><a target='_blank' title='protected area' href="{{ url_for('protected_area', wdpaid= pa['id']) }}"> {{ pa['name']}}, {{pa['id']}}</a></li>
  {% endfor %}
</ul>

{% if last_page %}
<a title='last page' href="{{ url_for('get_pa_list', page=last_page)}}">last page</a>
{% endif %}
<a title='next page' href="{{ url_for('get_pa_list', page=next_page)}}">next page</a>

</div>
{% endblock %}