{% extends "index.html" %}

{% block content %}
<div id="mapid"></div>
<div id="guess">

    {% include 'stats.html' %}

</div>
<div id="selection">
    <select class=''>
        <option selected>- What do you think is the land cover -</option>
        {% for option in options %}
        <option value="{{ option[0] }}"> {{ option[1] }}</option>
        {% endfor %}

    </select>
</div>
{% endblock %}

{% block scripts %}
 <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>

   <script> 
        // base map
        var mymap = L.map('mapid');
        
        var Esri_WorldTopoMap = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}', { attribution: 'Tiles &copy; Esri' }).addTo(mymap);
        
        // load geojson
        // jinja escape |safe
        var geojsonFeature = JSON.parse('{{geojson | safe}}');
        var geojson = L.geoJSON(geojsonFeature).addTo(mymap);
        
        mymap.fitBounds(geojson.getBounds());
        
        </script>
        
{{super()}}
{% endblock %}

{% block styles %}
{{super()}}
<style>
    #mapid { height: 480px; }
</style>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>
{% endblock %}